* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000
}

#work {
  padding: 15px 0;
  text-align: center;
}

#recent-work-elejewel {
  transition: box-shadow .3s;
}

#recent-work-elejewel:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.profile {
  padding: 10px;
}

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:visited {
  color: #000000;
}

a:hover,
a:focus {
  color: #ffffff;
}

a:active {
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #5C38BB;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #241159;
  transition-duration: 0.2s;
  transition: 0.2s opacity;
}

.button:visited {
  color: #ffffff;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #5C38BB;
  text-transform: uppercase;
  border: 2px solid #5C38BB;
}

.button.contact:hover {
  background-color: #5C38BB;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

#recentwork {
  margin-top: 6em;
}

/* Margin in the project-html */
.row {
  margin: 7em 0;
  /*25px top and bottom, 0 legt and right */
}

.email {
  margin: 10px;
}

.index-row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

.logo {
  max-width: 10em;
  padding: 10px 0 0;
}

header {
  background-color: #C9B5FF;
  padding: 15px 10px;
  position: fixed;
  border-bottom: 3px solid #4a4a4a;
  width: 100%;
}

#myNavtoggle {
  display: flex;
  flex-direction: column;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: -3px;
  font-size: 22px;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

nav {
  display: inline-block;
  width: 100%;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav a {
  padding: 10px 15px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

nav a:visited {
  color: #4a4a4a;
}

nav a:hover, nav a:focus {
  color: #000000;
  text-transform: uppercase;
}

nav a:active {
  color: #C9B5FF;
  text-transform: uppercase;
}

#hero {
  background-color: #DAD1FF;
  padding: 4em 0;
  display: inline-block;
  width: 100%
}

#hero-about {
  background-color: #DAD1FF;
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

#hero h1 {
  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

#hero h1 span {
  display: block;
  font-size: 60%;
  margin-top: 1em;
}

main {
  padding-top: 74px;
}

footer {
  text-align: center;
}

.social {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: 0 auto;
}

.social svg {
  height: 40px;
  width: auto;
}

.elejewel-logo {
  display: flex;
  justify-content: space-around;
  margin: 0 0 1em;
}

.elejewel-logo img {
  width: 40%;
}

.elejewel-color {
  display: flex;
  jestify-content: space-around;
  margin: 0 0 1em;
}

.elejewel-color img {
  width: 25%;
  padding: 0.5em;
}

.source-yumincho {
  font-family: 'Yumincho', serif;
}

.source-sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

.source-sans-pro-bold {
  font-weight: bold;
}

.elejewel-main {
  margin: 2em 0;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.elejewel-mockup {
  display: flex;
  justify-content: space-around;
  margin: 7em 0;
}

.elejewel-mockup img {
  width: 45%;
  padding: 1.5em;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}

#elejewel-main {
  background-color: #2C2C2C;
  color: #ffffff;
}

.index-row p {
  margin: 0 0 1em 0;
}

.conclusion-box {
  background-color: #000000;
  border-radius: 25px;
  padding: 3em;
}

.thankyou {
  text-align: right;
}

.thankyou h2 {
  padding: 1.5em;
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 15px;
  }

  #myNavtoggle {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }

  .logo {
    max-width: 11em;
    padding-left: 0.5em;
  }

  body {
    font-size: 16px;
  }

  main {
    padding-top: 56px;
  }

  nav {
    width: auto;
  }

  nav ul li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
  }

  #hero span {
    display: block;
  }

  .col-md-4 {
    width: 33.33%
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-8 {
    width: 66.66%
  }

  .profile img {
    max-width: 400px;
    padding: 20px;
  }

  .profile {
    text-align: center;
  }

  #work .container {
    text-align: left;
  }

  #recentwork {
    margin-top: 5em;
  }

  #work h3 {
    margin-top: 0;
  }

  .index-low {
    display: flex;
  }

  #recent-work-elejewel {
    margin-top: 1.5em;
  }

  #work [class*="col-"] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  main {
    padding-top: 4.5em;
  }

  #hero {
    text-align: center;
  }

  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  .nevigation {
    margin: 0 auto;
    position: relative;
    float: right;
    width: 1200px;
    width: 80%;
  }

  .index-row::after {
    content: "";
    clear: both;
    display: table;
  }
}

@media only screen and (min-width: 1024px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  body {
    font-size: 18px;
  }

  #work .container {
    text-align: left;
  }

  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .elejewel-main {
    margin: 2em 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #recentwork {
    margin-top: 5em;
  }

  .col-lg-6 {
    width: 50%
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .elejewel-main {
    margin: 2em 0;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #recentwork {
    margin-top: 5em;
  }
}
