header {
  position: relative;
  background-color: #ff44c4;
  text-align: center;
  padding: 10px 5px 15px 5px;
  margin: 10px;
  border-bottom: 3px solid #4a4a4a;
}

body {
  background-color: white;
  font-family: 'PT-sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  color: #000000
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #cc6540;
  text-decoration: underline;
}

a:visited {
  color: #ff7f50;
}

a:active {
  color: #994c30;
}

.navigation {
  width: auto;
  position: fixed;
  right: 3rem;
  margin: 20px;
  font-size: 18px;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: #white;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.top-menu {
  margin: 0 auto;
  position: relative;
  float: right;
  width: 1200px;
  width: 80%;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

/* Layout Styling */
.row {
  margin: 25px 0;
  /*25px top and bottom, 0 legt and right */
}

#work .row {
  padding-bottom: 25px;
  border-bottom: 1px solid #4a4a4a;
}

/*#contect {
  width: 100%;
  display: none;
}*/
.logo {
  max-width: 100px;
}
header {
  background-color: #ffe4c4;
  text-align: center;
  padding: 10px 0;
}
nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline-block;
}

nav ul li a:visited {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #ffe4c4;
  padding: 20px 0;
  display: inline-block;
  width: 100%
}

#hero h1 {

  margin: 0;
  padding: 0.67em 0;
  text-align: center;
}

main {
  padding-top: 133px;
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 4s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
}

@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }
nav {
  width: auto;
  float: right;
  margin-top: 4px;
}

  #hero span {
    display: block;
  }

  .col-md-6 {
    width: 50%;
  }
  [class*="col-"] {
    float: left;
    padding: 20px;
  }

  #work .container {
    text-align: left;
  }

  #hero {
    text-align: center;
  }

  .row: : after {
    content: "";
    clear: both;
    display: table;
  }

  @media only screen and (min-width: 1024px) {
    header {
      text-align: unset;
      padding: 20px 0 13px;
    }
  }

  #work .container {
    text-align: left;
  }
}

@media only screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
